<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand brand-font" href="/">БлекДжек</a>
		</div>
		<div class="collapse navbar-collapse" id="myNavbar">
			<ul class="nav navbar-nav">
				<% if (page == 'about-app') { %><li class='open'><% } else { %><li><% } %><a href="/about-app">О приложении</a></li>
				<% if (page == 'about-game') { %><li class='open'><% } else { %><li><% } %><a href="/about-game">Об игре</a></li>
				<!--Отображаем для авторизированного пользователя profile, logout-->
				<% if (auth == true) { %>
					<% if (page == 'game') { %><li class='brand-font open'><% } else { %><li class="brand-font"><% } %><a href="/game">Игра</a></li>
				<% } %>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<!--Отображаем для авторизированного пользователя profile, logout-->
				<% if (auth == true) { %>
					<li><p class="navbar-text"><%= user.local.email %></p></li>
					<% if (page == 'profile') { %><li class='open'><% } else { %><li><% } %><a href="/profile"><span class="glyphicon glyphicon-user"></span>Профиль</a></li>
					<li><a href="/logout">Выйти<span class="glyphicon glyphicon-log-out"></span></a></li>
				<% } else { %>
					<li><p class="navbar-text">Вход не выполнен</p></li>
				<% } %>

				<!--Отображаем для не авторизированного пользователя signup, login-->
                <% if (auth == false) { %>
					<li class="dropdown"><a id="menuSignup" class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-user"></span>Зарегистрироваться</a>
						<!--style="display: none;" добавить в стили или скрипты-->
						<div class="dropdown-menu">

							<form action="/signup" method="post" id="formSignup" class="form container-fluid">
								<div class="form-group has-feedback">
									<label for="signup-email">Email:</label>
									<input type="text" class="form-control" id="signup-email" name="email">
								</div>
								<div class="form-group">
									<label for="signup-password">Password:</label>
									<input type="password" class="form-control" id="signup-password" name="password">
								</div>
								<div class="form-group">
									<label for="signup-confirmPassword">Confirm password:</label>
									<input type="password" class="form-control" id="signup-confirmPassword" name="confirmPassword">
								</div>
								<button type="submit" class="btn btn-block">Signup</button>
							</form>

							<hr>

							<p>Already have an account? <a id="linkLogin" href="#">Login</a></p>
						</div>
					</li>
					<li class="dropdown"><a id="menuLogin" class="dropdown-toggle" data-toggle="dropdown" href="#">Войти<span class="glyphicon glyphicon-log-in"></span></a>
						<div class="dropdown-menu">

							<form action="/login" method="post" id="formLogin" class="form container-fluid">
								<div class="form-group">
									<label for="login-email">Email:</label>
									<input type="text" class="form-control" id="login-email" name="email">
								</div>
								<div class="form-group">
									<label for="login-password">Password:</label>
									<input type="password" class="form-control" id="login-password" name="password">
								</div>
								<button type="submit" class="btn btn-block">Login</button>
							</form>

							<hr>

							<p>Need an account? <a id="linkSignup" href="#">Signup</a></p>
						</div>
					</li>
					<% } %>
			</ul>
		</div>
	</div>
</nav>
