<div class="container well-lg">
    <h3>О приложении</h3>
    <p>Приложение является учебным. Выполнено по ТЗ по курсу JavaScript от IMT академии. </p>
    <p>Использованы: node.js, express.js, mongoose, passport, socket.io и др. </p>
    <h3>ТЗ:</h3>
    <p>При переходе на страницу "Игра" попадаем в Лобби. Здесь каждый пользователь может создать стол или присоединиться к любому столу (если там меньше 5 пользователей). На лобби: кнопка создать стол, список столов, при нажатии на стол окно "присоединится к столу" модальное. Стол исчезает из доступных при старте игры. Старт игры доступен пользователю создавшему стол. Когда игра запущенна стол стал не доступным для выбора. Стол закрывается когда вышли все игроки этого стола.</p>
    <p>В профиле отобразить доступный баланс (недоступный для редактирования). По клику на "Пополнить" - баланс пополняется на 1000.</p>
    <p> Все пользователи должны перед игрой сделать ставку. По таймеру. Если таймер прошел и ставка не сделана сообщение об отключении и отключить от стола.(переходит в лобби). Роздали карты. Каждый должен дать ответ по таймеру (30сек.). Просрочил - авто пас. Крупье играет по правилу брать до 16, 17 и выше - не брать. Туз оценивается как 11, 10 или 1 очко. Колода одна на 52 карты. Пользователи подключаются по порядку и ходят по порядку. У каждого пользователя по одной ставке. Играем против крупье. У казино безлимитный банк. При выигрыше ставка удваивается, при ничьей остаются при своих. На столе чат для игроков этого стола.</p>
</div>